body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}

.create{
   width: 72%;
   position: relative;
   margin: 30px auto;
   font-size: 25px;
}

.table{
  width: 100%;
}

.input{
  width: 85%;
  font-size: 17px;
  font-family: sans-serif;
  position: relative;
  margin: 10px auto;
  border-style: solid;
  padding: 7px;
}

.fields{
  font-size: 18px;
  font-family: sans-serif;

}

.box{
  border-color: #EA4C89;
  font-family: sans-serif;

}

.click {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  width: 80%;
  line-height: 20px;
  list-style: none;
  margin: 20px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.click:hover,
.click:focus {
  background-color: black;
}


.container {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: none;
}

.product-details {
    margin-bottom: 20px;
}

.product-details p {
    color: #666;
}

.product-image {
    width: 500px;
    height:500px;
    object-fit: cover;
}

.product-info {
    padding: 20px;
}

.product-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-price{
    font-size: 20px;
    color: Black;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-description {
    font-size: 14px;
    color: #666666;
    margin-bottom: 10px;
}

.product-category {
  font-size: 18px;
  color: #007185;
  font-style: italic;
  font-weight: bold;
}
